<h1>Teardown</h1>

<h2>Strategy, Distribution, and Market</h2>
<p><%= @teardown.strategy %></p>

<h2>Playstore</h2>
<p><%= @teardown.playstore %></p>

<h2>Positioning</h2>
<p><%= @teardown.positioning %></p>

<h2>Onboarding</h2>
<p><%= @teardown.onboarding %></p>

<h2>First Time User Experience (FTUE)</h2>
<p><%= @teardown.ftue %></p>

<h2>Jobs To Be Done (JTBD)</h2>
<p><%= @teardown.jtbd %></p>

<h2>Defensibility</h2>
<p><%= @teardown.defensibility %></p>

<h2>Building Trust and Reliability</h2>
<p><%= @teardown.trust_reliability %></p>

<h2>Product and Design</h2>
<p><%= @teardown.product_design %></p>

<%= link_to 'Edit Teardown', edit_product_teardown_path(@product, @teardown) %>
<%= link_to 'Back', product_path(@product) %>
